{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style_book.css' %}">
{% block content %}

      <div class="main">
        <div class="main01">
            <p>의학의 철학. 씨알아이출판사 2020 <br></p>
            <p>뇌복제와 인공지능 시대. 씨알아이출판사 2020 (최순덕/최종덕 공역) <br> </p>
            <p>승려와 원숭이. 동녘출판사 2016 (심재관/최종덕 공저) <br> </p>
            <p>비판적 생명철학. 당대출판사 2016 <br></p>

        </div>
        <div class="main02">
            <img src="{% static 'img/book_medicine02.png' %}" alt="book of medicine" style="width:250px">
            <div class="explain">
                <p> 이 책은 2003년부터 준비하여 드디어 2020년에 출간되었습니다. <br>
                    물론 처음에는 책으로 출판할 생각까지 못했습니다. <br>
                    그러나 2010년 이후 의학철학을 공부하면서 그동안 공부해온 것을 <br>
                    텍스트 방식으로 출간해야겠다는 생각을 다졌습니다. <br>
                    먼저 생물철학 책이 완성단계에 있었으므로 그것이 우선이었는데 <br>
                    생물철학과 의학철학 책이 서로 겹치는 부분이 많아서 이를 구획하는데도 시간이 걸렸습니다. </p>
                    <p>결국 2014년에 생물철학이 출간된 이후 6년만에 의학의 철학이 나온 것입니다. </p>
            </div>
            <div class="charae">
                차례 <br>추천서문: 제임스 마컴 교수, 강신익 교수 <br>
                1장 의철학 논쟁과 인문의학의 과제 <br>
                2장 의학적 추론, 인과론, 의료인공지능 <br>
                3장 분류의학과 의학 실재론 논쟁 <br>
                4장 질병관의 역사와 질병모델 <br>
                5장 의료인류학으로 본 질병과 건강 <br>
                6장 진화론과 의학의 관계사 <br>
                7장 진화의학 I: 질병취약성과 불일치모델 <br>
                8장 진화의학 II: 진화역학과 감염성 질병, 의학교육<br>
                9장 면역의학의 철학 <br>
                10장 노화방지의학에서 노화의학으로 <br>
                11장 분석과 해석: 의과학과 의철학의 접점<br>
                (640쪽)

            </div>

        <div class="main03">
            <img src="{% static 'img/book_em.jpg' %}" alt="book_image" style="width:250px">
            <div class="explain">
                이 책은 제가 교토와 베를린에 있을 때 의학철학 원고를 하면서 이중적으로 작업한 것입니다. <br>
                내 처 수달과 함께 번역한 것입니다.
            </div>
            <div class="charae">
                차례 <br>
                1장 <br>
                2장 <br>
                3장 <br>
                4장 <br>
                5장 <br>
            </div>
        </div>
      </div>



{% endblock %}